.col-sm-4 {
    width: 99.99%;
    /* background-color: rgb(148, 92, 92); */
    border:5px inset #c27956;
    color:white;
    margin-top:20px;
    background-image: url("img/logo.png");
    /* background-position: top right; */
    background-position: 99.5% 99.5%;
    background-repeat: no-repeat;
    background-size: 30px;;
  }

  .list_partenaire{
    /* background-color: lightskyblue; */
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .list_annuaire{
      /* background-color: lightgreen; */
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  li{
      list-style-type: none;
  }

  .list_partenaire li,
  .list_annuaire li{
      width:30%;
      min-height:50px;
      border:1px solid blue;
      margin-bottom:15px;
  }

  .col-sm-4 a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-sm-4 a:hover{
      background-color: #c27956;
      color:white;
  }

  .bgc-atomic-tangerine{
      background-color: white;
  }

  body{
    background-color:#c27956;
  }

  #annuaire{
      color : black;
      text-decoration: underline;
  }

  #annuaire:hover{
    color : white;
    
  }